html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Table styling */

table {
  width: 100%;
  table-layout: fixed;
}
.tbl-header {
  background-color: rgba(255, 255, 255, 0.925);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
  margin-right: 20px;
  margin-left: 20px;
}
.tbl-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
}
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
}
td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 14px;
  color: #000;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/* demo styles */

.socialMain {
  font-family: "Optimistic Text Medium";
  background-image: url("https://i.imgur.com/xcIB3MT.gif");
  background-repeat: repeat;
  height: 100dvh;
}

.outlookMain {
  background-color: #01b6b9;
  height: 100dvh;
}

.table h1 {
  padding-top: 20px;
  font-size: 24px;
  color: #000;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
